@media screen and (max-width: 768px) {
    .bg{
        padding: 20px;
    }
    .header-container {
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    .header-text {
        width: 100%;
        border: none;
        justify-content: space-between;
    }
    .main-container {
        flex-direction: column;
    }
    .main-container div{
        width: 100%;
        margin-bottom: 20px;
    }
}